
<button mat-icon-button style="float: right; margin: 5px;"matDialogClose>
    <mat-icon>close</mat-icon>
</button>


<div mat-dialog-content>
    <header>
        <h1 > Add hero </h1>
    </header>
<mat-icon>person</mat-icon>
    <p>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput id="firstName"  [(ngModel)]="firstName" placeholder = "Hero First Name">
        </mat-form-field>
    </p>

        <p><mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="name"  [(ngModel)]="name" placeholder = "Hero name">
        </mat-form-field></p>

        <p><mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" id = "age"  [(ngModel)]="age" placeholder="Hero age">
        </mat-form-field></p>

        <p><mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput id="description"  [(ngModel)]="description" placeholder="Short description">
        </mat-form-field></p>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color = "primary" (click)="addHero()" matDialogClose > Add </button>
    <button mat-raised-button color="warn" matDialogClose > Close </button>
</div>