<button mat-icon-button style="float: right; margin: 5px;"matDialogClose>
    <mat-icon>close</mat-icon>
</button>


<div mat-dialog-content>
    <header>
        <h1 > {{firstName}} Detail </h1>
    </header>
<mat-icon>person</mat-icon>
    <p>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <span> {{ firstName }} </span>
        </mat-form-field>
    </p>

        <p><mat-form-field>
            <mat-label>Name</mat-label>
            <span> {{ name }} </span>

        </mat-form-field></p>

        <p><mat-form-field>
            <mat-label>Age</mat-label>
            <span> {{ age }} </span>

        </mat-form-field></p>

        <p><mat-form-field>
            <mat-label>Description</mat-label>
            <span> {{ description }} </span>

        </mat-form-field></p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" matDialogClose > Close </button>
</div>