<button mat-icon-button style="float: right; margin: 5px;"matDialogClose>
    <mat-icon>close</mat-icon>
</button>


<div mat-dialog-content>
    <header>
        <h1 > {{firstName}} Detail </h1>
    </header>
<mat-icon>person</mat-icon>
    
        <mat-form-field>
            <mat-label>First name</mat-label>
            <span> First name </span>
            <h2> {{ firstName }} </h2>
        </mat-form-field>
    
       <mat-form-field>
            <span> Name </span>
            <h2> {{ name }} </h2>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <span> Age </span>
            <h2> {{ age }} </h2>
        </mat-form-field>

       <mat-form-field>
            <mat-label>Description</mat-label>
            <span> Description </span>
            <h2> {{ description }} </h2>
        </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" matDialogClose > Close </button>
</div>