h2 {
  text-align: center;
}

.heroes-detail {
  padding: 0;
  margin: auto;
  
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: indigo;
  
  display: inline-block;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

a:hover {
  background-color: rgb(172, 121, 255);
  
}