<h1>Hero details</h1>

<div class="hero-detail" *ngIf="heroesList">
    <h2>{{heroObj.name | uppercase}} Details</h2>
    <div>
      <span>id: </span>{{heroObj.idS}}
    </div>
    <div>
      <label for="hero-name">Hero name: </label>
      <span> {{heroObj.name}} </span>
    </div>
  </div>

  <div >
   
    <span> {{ heroObjet.name }} </span>
    <span> {{ heroObjet.age }} </span>

  </div>
  
<a mat-raised-button color="primary" (click)="goBack()"> Back </a>


<div mat-dialog-content >
  <header>
      <h1 > Hero detail </h1>
  </header>
  <div *ngFor="let heror of heroesList">
  <span>
    {{ heror.name }}
  </span>
  <span>
    {{ heror.firstName }}
  </span>
</div>

</div>

<div mat-dialog-actions>
  
  <button mat-raised-button color = "primary"  > Add </button>
  <button mat-raised-button color="warn" matDialogClose > Close </button>
</div>