.container{
    height: auto;
    display: flex;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
    
}

.margin{
    margin: auto;
    text-align: center;
}

.full-width{
    width: 80%;
}