    <div class="container" *ngIf="!isSignedIn && !signInBadge">
    <mat-card appearance="outlined">
        <mat-card-content>
            <p>
                <mat-toolbar color="primary">
                  <span>Login Page</span>
                  <mat-icon>person</mat-icon>
                </mat-toolbar>
              </p>
            <mat-list>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput #email placeholder="pat@example.com" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput #password [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary"
                (click)="onSignin(email.value , password.value)">
                Login
            </button>
            <button mat-button (click)="signInBadgeToogle()">Signin</button>
        </mat-card-actions>

        <mat-card-content class="margin">
            <div *ngIf="!isSignedIn">
                 <h3>Sign in with google</h3>
                    <mat-card-actions text-align="center">
                        <button mat-raised-button color="accent" 
                        (click)="signInWithGoogle()" 
                        (click)="signInBadgeToogle()"> 
                        Sign in with Google 
                    </button>
                    </mat-card-actions>
          
                <h3>Sign in with phone number</h3>
                <mat-card-actions text-align="center">
                    <button mat-raised-button color="accent"
                     (click)="openPhoneNumberDialog()" 
                     (click)="signInBadgeToogle()">
                      Sign in with phone number 
                      <mat-icon>phone</mat-icon>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="container" *ngIf="!isSignedIn && signInBadge">
    <mat-card appearance="outlined">
        <mat-card-content>
            <p>
                <mat-toolbar color="primary">
                  <span>Signin Page</span>
                  <mat-icon>person</mat-icon>
                </mat-toolbar>
              </p>
            <mat-list>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput #emailSignup placeholder="pat@example.com" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a new password</mat-label>
                    <input matInput #passwordSignup [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent"
                (click)="onSignup(emailSignup.value , passwordSignup.value)">
                Signin
            </button>
            <button mat-button
                (click)="signInBadgeToogle()">
                Login
            </button>
        </mat-card-actions>

        <mat-card-content class="margin">
            <div *ngIf="!isSignedIn">
                 <h3>Sign in with google</h3>
                    <mat-card-actions text-align="center">
                        <button mat-raised-button color="accent" 
                        (click)="signInWithGoogle()" 
                        (click)="signInBadgeToogle()"> 
                        Sign in with Google 
                    </button>
                    </mat-card-actions>
            </div>
        </mat-card-content>
        
        <mat-card-content class="margin">
            <div *ngIf="!isSignedIn">
                <h3>Sign in with phone number</h3>
                <mat-card-actions text-align="center">
                    <button mat-raised-button color="accent"
                     (click)="openPhoneNumberDialog()" 
                     (click)="signInBadgeToogle()">
                      Sign in with phone number 
                      <mat-icon>phone</mat-icon>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="isSignedIn">
    <header> You are logged </header>
    <h2> Want to logout? </h2>
    <div align ="end">
        <button mat-raised-button color="primary" (click)="userProfile()"> My profile </button>
        <button mat-raised-button color="warn"(click)="handleLogout()" > Logout </button>
    </div>
</div>
