
.example-spacer {
  flex: 1 1 auto;
}
.button-row button,
.button-row a {
  margin-right: 8px;
}

.disabled {
  display: inline-block;
}

header{
    margin: 0;
    background-color: black;
    color: black;
}

a{
    margin: 0;
}

mat-card{
    background-color: primary;
    color: black;
}
mat-button-toggle-group {
    margin-left: 12px;
  }
  section {
    display: table;
  }

  .label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .button-row {
    display: table-cell;
    max-width: 600px;
  }

  .button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .header{
    top: 0;
    z-index: 100;
  }

  .footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 15px;
    z-index: 100;
  }
