<header>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tour of heroes</mat-card-title>
      </mat-card-header>

      <mat-card-actions>
  <div class="button" color = primary>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>connexion</mat-icon>
      <span>Connect</span>
    </button>
  </mat-menu>
    <button mat-raised-button color ="primary" routerLink="/heroes"> Heroes</button>
    <button mat-raised-button color ="primary" routerLink="/heroEdit"> Heroes List</button>
  </div>
      </mat-card-actions>
    </mat-card>
  </header>

<router-outlet></router-outlet>
