h2 {
    text-align: center;
  }

.heroes-menu {
    padding: 0;
    margin: auto;
    margin-top: 50px;
    
    max-width: 1000px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  .demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}


  a {
    background-color: indigo;
    
    display: inline-block;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }

  a:hover {
    background-color: rgb(172, 121, 255);
    
  }

  mat-grid-tile {
  background: lightblue;
}
